.backgroundImage {
  height: 100vh;
  width: 100%;
  background: rgb(99, 107, 254);
  background: -moz-linear-gradient(
    170deg,
    rgba(99, 107, 254, 1) 10%,
    rgba(80, 126, 243, 1) 15%,
    rgba(144, 224, 255, 0) 70%
  );
  background: -webkit-linear-gradient(
    170deg,
    rgba(99, 107, 254, 1) 10%,
    rgba(80, 126, 243, 1) 15%,
    rgba(144, 224, 255, 0) 70%
  );
  background: linear-gradient(
    170deg,
    rgba(99, 107, 254, 1) 10%,
    rgba(80, 126, 243, 1) 15%,
    rgba(144, 224, 255, 0) 70%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#636bfe",endColorstr="#90e0ff",GradientType=1);
  opacity: 0.2;
  height: 100vh;
  position: absolute;
  z-index: -1;
}