.selectBtn {
  font-size: 14px;
  font-weight: 500;
  background: rgba(6, 4, 25, 0.2);
  background: linear-gradient(
    0deg,
    rgba(31, 28, 65, 0.2) 0%,
    rgba(6, 4, 25, 0.2) 100%
  );
  backdrop-filter: blur(5px);
  padding: 8px 15px;
  border: solid 1px #3F3D4D;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: fit-content;
  transition: 0.2s;
}

.selectBtn:hover {
  border-color: #636CFE;
}

.selectBtn svg {
  height: 18px;
}

.dropdown {
  z-index: 2;
  position: absolute;
  max-width: 350px;
}

.dropdown div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}
