.select {
  position: relative;
}

.selectBtn {
  font-size: 14px;
  font-weight: 500;
  background: rgba(6, 4, 25, 0.2);
  background: linear-gradient(
    0deg,
    rgba(31, 28, 65, 0.2) 0%,
    rgba(6, 4, 25, 0.2) 100%
  );
  backdrop-filter: blur(5px);
  padding: 8px 15px;
  border: solid 1px #3f3d4d;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: fit-content;
  transition: 0.2s;
}

.selectBtn:hover {
  border-color: #636cfe;
}

.selectBtn svg {
  height: 18px;
  opacity: 0.8;
}

.rotate {
  transform: rotate(180deg);
}

.selectBtn span {
  opacity: 0.8;
}

.dropdown {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 390px;
  width: max-content;
  min-width: 100%;
}

@media (max-width: 700px) {
  .dropdown {
    width: 100%;
  }
}

.dropdown div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
}
