.tag {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
  background-color: #373a797b;
  border: solid 1px #373a797b;
  color: #636CFE;
  cursor: pointer;
}

.tag:hover {
  border: solid 1px #636CFE;
}

.selectedTag {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
  background-color: #636CFE;
  border: solid 1px #636CFE;
  color: white;
  cursor: pointer;
}
