.tag {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
  background-color: #25223e;
  border: solid 1px #25223e;
  color: #604aef;
  cursor: pointer;
}

.tag:hover {
  border: solid 1px #604aef;
}

.selectedTag {
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
  background-color: #604aef;
  border: solid 1px #604aef;
  color: white;
  cursor: pointer;
}
