.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  padding: 30px 60px;
  text-align: center;
}

.authForm .content {
  margin-bottom: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm p {
  opacity: 0.8;
}

.authForm .logo {
  color: #636cfe;
  height: 40px;
  margin-bottom: 15px;
}

@media (max-width: 33rem) {
  .authForm {
    width: fit-content;
  }
}