.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}

.logo a {
  font-size: larger;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.header nav a:hover,
.header nav a:active,
.header nav a.active {
  color: #705df2;
}
