.list {
  list-style: none;
  margin: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.listFallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}