.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.sort label {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.8;
}

.sort .selecters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .sort {
    flex-direction: column;
  }
}