.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 2rem 3px 3px;
}

.userInfo > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.userInfo img {
  height: 70px;
  width: 70px;
  border-radius: 12px;
}

.userInfo p {
  opacity: 0.8;
  font-size: 14px;
}

.userInfo .icon {
  height: 18px;
}

.margin {
  margin-top: 15px;
  margin-bottom: 25px;
}

h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

h2 .icon {
  height: 22px;
  color: #636cfe;
}
