:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #060419;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn {
  text-decoration: none;
  background-color: #636CFE;
  color: white;
  padding: 10px 20px;
  border: solid 1px #737CFF;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn:hover {
  background-color: #737CFF;
}

.btn-alt {
  text-decoration: none;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: solid 1px #3F3D4D;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.btn-alt:hover {
  background-color: #3F3D4D;
}

.btn svg {
  height: 16px;
}